<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Bean - объект, кот создаётся и управляется Spring Container-->
    <bean id="myPet" class="com.example.Raven" init-method="init" destroy-method="destroy">
    </bean>

    <bean id="myVehicle" class="com.example.Car" init-method="init" destroy-method="destroy">
        <constructor-arg value="Audi"/>
        <constructor-arg value="654HK"/>
    </bean>

        <bean id = "myVehicle2"  class="com.example.Bike" scope="prototype" init-method="init" destroy-method="destroy">
            <constructor-arg  value= "Турист"/>
        </bean>

    <bean id="myEmployee" class="com.example.Employee" init-method="init" destroy-method="destroy">
        <property name="pet" ref="myPet"/>
        <property name="vehicle" ref="myVehicle"/>
        <property name="name" value="BOB"/>
        <property name="age" value="45"/>
    </bean>


</beans>
